
.estatistica{
    background: #012850;
    height: 500px;

}

.sob-fundo-estatistica{
    width: 100%;
    height: 100%;
    border-radius: 0 0 350px 350px;
    background-color: #08315a;

}

.titulo-valor{
    color: #fff;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 90px;
    font-family: "Ubuntu";
 
}

.titulo-valor #tt-valor{
    font-weight: bold;
}

.div-valores{
    text-align: center;
    color: #fff;
    position: relative;
    top: 180px;
    left: 30px;
   
}

.dados-valor{
    width: 250px;
    display: inline-block;
    margin: 20px;
    
   
}

.valor-numero{
    font-size: 60px;
    font-family: "Ubuntu";
    font-weight: bolder;
   
}

 .valor-descricao{
    font-family: "Ubuntu";
    font-size: 20px;
    opacity: 40%;
    margin: 10px;
    
}