@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,500&display=swap');



@font-face{ 
    font-family: "";

    src: local(), url();
    
}


@font-face{ 
    font-family: "Bebas";

    src: local(Bebas), url(BebasKai.otf);
    
}

@font-face{ 
    font-family: "Bebas Kai";

    src: local(BebasKai), url(BebasKai.ttf);
    
}

@font-face{ 
    font-family: "Boris black";

    src: local(Boris black), url(BorisBlackBloxx.ttf);
    
}

@font-face{ 
    font-family: "Boris black box";

    src: local(Boris black box), url(BorisBlackBloxxDirty.ttf);
    
}

@font-face{ 
    font-family: "Boris black box";

    src: local(Boris black box), url(BorisBlackBloxxDirty.ttf);
    
}

@font-face{ 
    font-family: "Neufreit";

    src: local(Neufreit), url(Neufreit-ExtraBold.otf);
    
}

@font-face{ 
    font-family: "Pointfree";

    src: local(Pointfree), url(pointfree.ttf);
    
}

@font-face{ 
    font-family: "Cherry";

    src: local(Cherry), url(Cherry\ Monospace-Light.ttf);
    
}


@font-face{ 
    font-family: "Sources Sans";

    src: local(sources sans), url(SourceSansPro-Regular.otf);
    
}

@font-face{ 
    font-family: "Releway";

    src: local(Releway), url(Raleway-Regular.ttf);
    
}

@font-face{ 
    font-family: "louis";

    src: local(louis), url(../fontes/Louis\ George\ Cafe.ttf);
    
}

@font-face{ 
    font-family: "MADE";

    src: local(made), url(../fontes/MADE\ Soulmaze\ italic\ PERSONAL\ USE.otf);
    
}

@font-face{ 
    font-family: "built";

    src: local(built), url(../fontes/built\ titling\ bd.ttf);
    
}
